 .header-image {
    background-image: url('/oudwalvisch.nl/images/header-desktop-mockup.png');
    background-size: 100%;
    width:var(--nav-width);
    background-position: center;
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    padding-top: 10px;
    transform: translate(-50%, 0);
    
}

@media (max-width: 768px) {
    .header-image {height: 40%;
    background-image: url('/oudwalvisch.nl/images/header-mobile.png');}
} 

/* .header a, h1, h2 {
    color: #02027a;
} */

:root {
    --primary: #02027a;
    --secondary: rgb(34,48,89)
    --content:var(--primary);
    --code-bg: rgb(255,255,255);
    --main-width: 1024px;
    /* --nav-width: 1024px; */
}  

.main {
    background-color: #ffffff;
    padding-left: 35px;
    padding-right: 35px;
}

header {
    background-color: #ffffff;
}

.logo {
    visibility: hidden;
    height: 0px;
}