header {
    background-image: url('assets/images/header-desktop-mockup.png');
    background-size: cover;
    background-position: center;
    height: 300px;
}

@media (max-width: 768px) {
    header {height: 150px;}
}